<h1><%= t('welcome') %></h1>
<p> <%= "#{t('applocale' )} #{t('locale')}" %>  </p>
<p><strong>Data</strong> <%= l(Date.today) %></p>

<p> <%=  link_to t('port'), '?locale=pt-BR'  %></p>
<p> <%=  link_to t('ing'), '?locale=en' %>  </p>

<p><%= session[:curso] %></p>

<%= nome_aplicacao %>

<%= render "menu" %>



<p>
  <%= t('youareon') %> <strong><%= ambiente_rails() %></strong>
</p>

