<h1>Seja bem vindo!</h1>
<p><strong>Data</strong> <%= data_br(Date.today) %></p>

<%= nome_aplicacao %>

<%= render 'menu' %>


<p>
  Você está num ambiente de <strong><%= ambiente_rails %></strong>
</p>

<p>
  <%= @nome%>
</p>
<p>
Meu curso de <%= @curso %>
</p>