<div id="<%= dom_id coin %>">
  <p>
    <strong><%= t('desc') %></strong>
    <%= coin.description %>
  </p>

  <p>
    <strong><%= t('acronym') %>:</strong>
    <%= coin.acronym %>
  </p>

  <p>
    <strong><%= t('image') %>:</strong>
    <img src="<%= coin.url_image %>" width="50px"/>
  </p>

</div>
