<p style="color: green"><%= notice %></p>
<div class="m-2">
  <%= render @coin %>
  <div>
    <%= link_to t('edit'), edit_coin_path(@coin) %> |
    <%= link_to t('back'), coins_path %>
    <%= button_to t('delete'), @coin, method: :delete , class: "btn btn-danger"%>
  </div>
</div>
